{% extends 'base.html' %}
{% block content %}
{% load custom_filter %}
<div data-popover id="popover-bottom" role="tooltip"
    class="absolute z-20 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800 right-0 rounded-xl">
    <div class="relative w-64 border border-gray-600 bg-gray-100 dark:text-gray-400 dark:bg-gray-800 px-4 py-8 sm:px-6 lg:px-8 rounded-xl"
        aria-modal="true" role="dialog" tabindex="-1">
        <div class="mt-4 space-y-6">
            {% if cart_empty %}
            <ul class="space-y-4 text-center">
                <p>Your cart is empty.</p>
                <div class="space-y-4 text-center">
                    <a href="/" id="popover-bottom-close"
                        class="inline-block text-sm text-gray-500 underline underline-offset-4 transition hover:text-gray-600">Continue
                        shopping</a>
                </div>
            </ul>
            {% else %}
            <ul class="space-y-4">
                {% for item in cart_items %}
                <li class="flex items-center gap-4">
                    <img src="{{ item.image }}" alt="{{ item.name }}" class="h-16 w-16 rounded object-cover" />
                    <div>
                        <h3 class="text-sm text-gray-900 dark:text-white">
                            {{ item.name }}
                        </h3>
                        <dl class="mt-0.5 space-y-px text-[15px] text-gray-600 dark:text-gray-300">
                            <div>
                                <dt class="inline">Price:</dt>
                                <dd class="inline">Rs {{ item.price }}</dd>
                            </div>
                        </dl>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <div class="space-y-4 text-center">
                <a href="/cart"
                    class="block rounded border border-gray-600 px-5 py-3 text-sm text-gray-600 dark:text-gray-200 transition hover:ring-1 hover:ring-gray-400 font-semibold">View
                    my cart ( {{ request.session.cart.keys|length }} )</a><a href="/" id="popover-bottom-close"
                    class="inline-block text-sm text-gray-500 dark:text-gray-100 underline underline-offset-4 transition hover:text-gray-600 font-semibold">Continue
                    shopping</a>
            </div>
            {% endif %}
        </div>
    </div>
    <div data-popper-arrow class="bg-gray-200 dark:bg-gray-800 border border-gray-600"></div>
</div>
<section class="z-20 overflow-hidden pt-20 pb-12 lg:pt-[120px] lg:pb-[90px]">
    <div class="container mx-auto">
        <div class="-mx-4 flex flex-wrap px-10">
            <div class="flex flex-col mb-16 sm:text-cente max-w-xl sm:mx-auto lg:max-w-2xlr"><a href="/"
                    class="mb-6 sm:mx-auto">
                    <div class="flex items-center justify-center w-12 h-12 rounded-full bg-indigo-50"><svg
                            class="w-10 h-10 text-deep-purple-accent-400" stroke="currentColor" viewBox="0 0 52 52">
                            <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none"
                                points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
                        </svg></div>
                </a>
                <div class="max-w-xl md:mx-auto sm:text-center lg:max-w-2xl">
                    <h2
                        class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl md:mx-auto">
                        <span class="relative inline-block"><svg viewBox="0 0 52 24" fill="currentColor"
                                class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block">
                                <defs>
                                    <pattern id="ec5d8ef5-b853-4714-b94f-df28ec98eeb7" x="0" y="0" width=".135"
                                        height=".30">
                                        <circle cx="1" cy="1" r=".7"></circle>
                                    </pattern>
                                </defs>
                                <rect fill="url(#ec5d8ef5-b853-4714-b94f-df28ec98eeb7)" width="52" height="24"></rect>
                            </svg><span class="relative">The</span></span>FAQ
                    </h2>
                    <p class="text-base text-gray-700 dark:text-gray-300 md:text-lg">Orders, Items, Support, Shipping,
                        Packaging, Returns, and Exchanges Subtitle: Your Comprehensive Guide to a Seamless Online
                        Shopping Experience</p>
                </div>
            </div>
            <div class="-mx-4 flex flex-wrap items-center md:px-10">
                <div class="w-full px-4">
                    <div
                        class="single-faq mb-8 w-full rounded-lg border border-[#F3F4FE] bg-gray-200 dark:bg-gray-700 p-4 sm:p-8 lg:px-6 xl:px-8">
                        <button class="faq-btn flex w-full text-left">
                            <div
                                class="mr-5 flex h-10 w-full max-w-[40px] items-center justify-center rounded-lg bg-primary bg-opacity-5 text-primary">
                                <svg width="17" height="10" viewBox="0 0 17 10" class="icon fill-current">
                                    <path
                                        d="M7.28687 8.43257L7.28679 8.43265L7.29496 8.43985C7.62576 8.73124 8.02464 8.86001 8.41472 8.86001C8.83092 8.86001 9.22376 8.69083 9.53447 8.41713L9.53454 8.41721L9.54184 8.41052L15.7631 2.70784L15.7691 2.70231L15.7749 2.69659C16.0981 2.38028 16.1985 1.80579 15.7981 1.41393C15.4803 1.1028 14.9167 1.00854 14.5249 1.38489L8.41472 7.00806L2.29995 1.38063L2.29151 1.37286L2.28271 1.36548C1.93092 1.07036 1.38469 1.06804 1.03129 1.41393L1.01755 1.42738L1.00488 1.44184C0.69687 1.79355 0.695778 2.34549 1.0545 2.69659L1.05999 2.70196L1.06565 2.70717L7.28687 8.43257Z"
                                        fill="#3056D3" stroke="#3056D3" />
                                </svg>
                            </div>
                            <div class="w-full">
                                <h4 class="text-lg font-semibold text-black dark:text-white">How can I modify or cancel
                                    my order?</h4>
                            </div>
                        </button>
                        <div class="faq-content pl-[62px]">
                            <p class="py-3 text-base leading-relaxed text-gray-900 dark:text-gray-200">To modify or
                                cancel an order, please contact our customer support team as soon as possible. Keep in
                                mind that we process orders quickly, so it's important to reach out to us immediately
                                after placing your order. You can find our contact information on the "Contact Us" page
                                of our website.</p>
                        </div>
                    </div>
                    <div
                        class="single-faq mb-8 w-full rounded-lg border border-[#F3F4FE] bg-gray-200 dark:bg-gray-700 p-4 sm:p-8 lg:px-6 xl:px-8">
                        <button class="faq-btn flex w-full text-left">
                            <div
                                class="mr-5 flex h-10 w-full max-w-[40px] items-center justify-center rounded-lg bg-primary bg-opacity-5 text-primary">
                                <svg width="17" height="10" viewBox="0 0 17 10" class="icon fill-current">
                                    <path
                                        d="M7.28687 8.43257L7.28679 8.43265L7.29496 8.43985C7.62576 8.73124 8.02464 8.86001 8.41472 8.86001C8.83092 8.86001 9.22376 8.69083 9.53447 8.41713L9.53454 8.41721L9.54184 8.41052L15.7631 2.70784L15.7691 2.70231L15.7749 2.69659C16.0981 2.38028 16.1985 1.80579 15.7981 1.41393C15.4803 1.1028 14.9167 1.00854 14.5249 1.38489L8.41472 7.00806L2.29995 1.38063L2.29151 1.37286L2.28271 1.36548C1.93092 1.07036 1.38469 1.06804 1.03129 1.41393L1.01755 1.42738L1.00488 1.44184C0.69687 1.79355 0.695778 2.34549 1.0545 2.69659L1.05999 2.70196L1.06565 2.70717L7.28687 8.43257Z"
                                        fill="#3056D3" stroke="#3056D3" />
                                </svg>
                            </div>
                            <div class="w-full">
                                <h4 class="text-lg font-semibold text-black dark:text-white">What is the process for
                                    returns and exchanges?</h4>
                            </div>
                        </button>
                        <div class="faq-content pl-[62px]">
                            <p class="py-3 text-base leading-relaxed text-gray-900 dark:text-gray-200">We offer a 30-day
                                return and exchange policy for most items, with some exceptions for final sale products.
                                To initiate a return or exchange, please contact our customer support team with your
                                order number and details about the issue. They will provide you with instructions on how
                                to return the item and, if applicable, receive a refund, store credit, or replacement
                                product. For more information, please refer to our "Returns and Exchanges" page on our
                                website..</p>
                        </div>
                    </div>
                    <div
                        class="single-faq mb-8 w-full rounded-lg border border-[#F3F4FE] bg-gray-200 dark:bg-gray-700 p-4 sm:p-8 lg:px-6 xl:px-8">
                        <button class="faq-btn flex w-full text-left">
                            <div
                                class="mr-5 flex h-10 w-full max-w-[40px] items-center justify-center rounded-lg bg-primary bg-opacity-5 text-primary">
                                <svg width="17" height="10" viewBox="0 0 17 10" class="icon fill-current">
                                    <path
                                        d="M7.28687 8.43257L7.28679 8.43265L7.29496 8.43985C7.62576 8.73124 8.02464 8.86001 8.41472 8.86001C8.83092 8.86001 9.22376 8.69083 9.53447 8.41713L9.53454 8.41721L9.54184 8.41052L15.7631 2.70784L15.7691 2.70231L15.7749 2.69659C16.0981 2.38028 16.1985 1.80579 15.7981 1.41393C15.4803 1.1028 14.9167 1.00854 14.5249 1.38489L8.41472 7.00806L2.29995 1.38063L2.29151 1.37286L2.28271 1.36548C1.93092 1.07036 1.38469 1.06804 1.03129 1.41393L1.01755 1.42738L1.00488 1.44184C0.69687 1.79355 0.695778 2.34549 1.0545 2.69659L1.05999 2.70196L1.06565 2.70717L7.28687 8.43257Z"
                                        fill="#3056D3" stroke="#3056D3" />
                                </svg>
                            </div>
                            <div class="w-full">
                                <h4 class="text-lg font-semibold text-black dark:text-white">What should I do if I
                                    received a damaged or incorrect item?</h4>
                            </div>
                        </button>
                        <div class="faq-content pl-[62px]">
                            <p class="py-3 text-base leading-relaxed text-gray-900 dark:text-gray-200">If you received a
                                damaged or incorrect item, please contact our customer support team with your order
                                number, details about the issue, and any relevant photos. We will work with you to
                                resolve the issue by offering a replacement, refund, or exchange, depending on the
                                specific situation.</p>
                        </div>
                    </div>
                    <div
                        class="single-faq mb-8 w-full rounded-lg border border-[#F3F4FE] bg-gray-200 dark:bg-gray-700 p-4 sm:p-8 lg:px-6 xl:px-8">
                        <button class="faq-btn flex w-full text-left">
                            <div
                                class="mr-5 flex h-10 w-full max-w-[40px] items-center justify-center rounded-lg bg-primary bg-opacity-5 text-primary">
                                <svg width="17" height="10" viewBox="0 0 17 10" class="icon fill-current">
                                    <path
                                        d="M7.28687 8.43257L7.28679 8.43265L7.29496 8.43985C7.62576 8.73124 8.02464 8.86001 8.41472 8.86001C8.83092 8.86001 9.22376 8.69083 9.53447 8.41713L9.53454 8.41721L9.54184 8.41052L15.7631 2.70784L15.7691 2.70231L15.7749 2.69659C16.0981 2.38028 16.1985 1.80579 15.7981 1.41393C15.4803 1.1028 14.9167 1.00854 14.5249 1.38489L8.41472 7.00806L2.29995 1.38063L2.29151 1.37286L2.28271 1.36548C1.93092 1.07036 1.38469 1.06804 1.03129 1.41393L1.01755 1.42738L1.00488 1.44184C0.69687 1.79355 0.695778 2.34549 1.0545 2.69659L1.05999 2.70196L1.06565 2.70717L7.28687 8.43257Z"
                                        fill="#3056D3" stroke="#3056D3" />
                                </svg>
                            </div>
                            <div class="w-full">
                                <h4 class="text-lg font-semibold text-black dark:text-white">How can I get help with a
                                    product or my account?</h4>
                            </div>
                        </button>
                        <div class="faq-content pl-[62px]">
                            <p class="py-3 text-base leading-relaxed text-gray-900 dark:text-gray-200">Our customer
                                support team is available to assist you with any questions or concerns you may have
                                regarding our products or your account. You can reach out to us through the "Contact Us"
                                page on our website or by replying to your order confirmation email.</p>
                        </div>
                    </div>
                    <div
                        class="single-faq mb-8 w-full rounded-lg border border-[#F3F4FE] bg-gray-200 dark:bg-gray-700 p-4 sm:p-8 lg:px-6 xl:px-8">
                        <button class="faq-btn flex w-full text-left">
                            <div
                                class="mr-5 flex h-10 w-full max-w-[40px] items-center justify-center rounded-lg bg-primary bg-opacity-5 text-primary">
                                <svg width="17" height="10" viewBox="0 0 17 10" class="icon fill-current">
                                    <path
                                        d="M7.28687 8.43257L7.28679 8.43265L7.29496 8.43985C7.62576 8.73124 8.02464 8.86001 8.41472 8.86001C8.83092 8.86001 9.22376 8.69083 9.53447 8.41713L9.53454 8.41721L9.54184 8.41052L15.7631 2.70784L15.7691 2.70231L15.7749 2.69659C16.0981 2.38028 16.1985 1.80579 15.7981 1.41393C15.4803 1.1028 14.9167 1.00854 14.5249 1.38489L8.41472 7.00806L2.29995 1.38063L2.29151 1.37286L2.28271 1.36548C1.93092 1.07036 1.38469 1.06804 1.03129 1.41393L1.01755 1.42738L1.00488 1.44184C0.69687 1.79355 0.695778 2.34549 1.0545 2.69659L1.05999 2.70196L1.06565 2.70717L7.28687 8.43257Z"
                                        fill="#3056D3" stroke="#3056D3" />
                                </svg>
                            </div>
                            <div class="w-full">
                                <h4 class="text-lg font-semibold text-black dark:text-white">What are the shipping
                                    options and estimated delivery times?</h4>
                            </div>
                        </button>
                        <div class="faq-content pl-[62px]">
                            <p class="py-3 text-base leading-relaxed text-gray-900 dark:text-gray-200">We offer various
                                shipping options, including standard and expedited shipping. The estimated delivery time
                                for standard shipping is typically 5-7 business days, while expedited shipping offers
                                faster delivery times. Specific shipping options and delivery times will be provided
                                during the checkout process.</p>
                        </div>
                    </div>
                    <div
                        class="single-faq mb-8 w-full rounded-lg border border-[#F3F4FE] bg-gray-200 dark:bg-gray-700 p-4 sm:p-8 lg:px-6 xl:px-8">
                        <button class="faq-btn flex w-full text-left">
                            <div
                                class="mr-5 flex h-10 w-full max-w-[40px] items-center justify-center rounded-lg bg-primary bg-opacity-5 text-primary">
                                <svg width="17" height="10" viewBox="0 0 17 10" class="icon fill-current">
                                    <path
                                        d="M7.28687 8.43257L7.28679 8.43265L7.29496 8.43985C7.62576 8.73124 8.02464 8.86001 8.41472 8.86001C8.83092 8.86001 9.22376 8.69083 9.53447 8.41713L9.53454 8.41721L9.54184 8.41052L15.7631 2.70784L15.7691 2.70231L15.7749 2.69659C16.0981 2.38028 16.1985 1.80579 15.7981 1.41393C15.4803 1.1028 14.9167 1.00854 14.5249 1.38489L8.41472 7.00806L2.29995 1.38063L2.29151 1.37286L2.28271 1.36548C1.93092 1.07036 1.38469 1.06804 1.03129 1.41393L1.01755 1.42738L1.00488 1.44184C0.69687 1.79355 0.695778 2.34549 1.0545 2.69659L1.05999 2.70196L1.06565 2.70717L7.28687 8.43257Z"
                                        fill="#3056D3" stroke="#3056D3" />
                                </svg>
                            </div>
                            <div class="w-full">
                                <h4 class="text-lg font-semibold text-black dark:text-white">How are items packaged for
                                    shipment?</h4>
                            </div>
                        </button>
                        <div class="faq-content pl-[62px]">
                            <p class="py-3 text-base leading-relaxed text-gray-900 dark:text-gray-200">We take great
                                care in packaging our products to ensure they arrive in excellent condition. Items are
                                securely packed in appropriate boxes or envelopes, with sufficient padding and
                                protection to prevent damage during transit.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="absolute bottom-0 right-0 z-[-1]"><svg width="1440" height="886" viewBox="0 0 1440 886"
                    fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5"
                        d="M193.307 -273.321L1480.87 1014.24L1121.85 1373.26C1121.85 1373.26 731.745 983.231 478.513 729.927C225.976 477.317 -165.714 85.6993 -165.714 85.6993L193.307 -273.321Z"
                        fill="url(#paint0_linear)" />
                    <defs>
                        <linearGradient id="paint0_linear" x1="1308.65" y1="1142.58" x2="602.827" y2="-418.681"
                            gradientUnits="userSpaceOnUse">
                            <stop stop-color="#3056D3" stop-opacity="0.36" />
                            <stop offset="1" stop-color="#F5F2FD" stop-opacity="0" />
                            <stop offset="1" stop-color="#F5F2FD" stop-opacity="0.096144" />
                        </linearGradient>
                    </defs>
                </svg></div>
</section>{% endblock %}