{% extends 'base.html' %}
{% block content %} 
{% load cart %} 
{% load custom_filter %}
<!-- body -->
<!-- CSS -->

<!-- Banner -->


<!-- Swiper -->

<div class="swiper mySwiper">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<section
				class="w-full mx-auto bg-nordic-gray-light flex pt-12 md:pt-0 md:items-center bg-cover bg-right bg-white"
				style="max-width: 1600px; height: 32rem">
				<img src="https://images.unsplash.com/photo-1516131206008-dd041a9764fd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
					loading="lazy" alt="Photo by Fakurian Design"
					class="absolute inset-0 h-full w-full object-cover object-center lg:hidden" />
				<div class="container mx-auto px-10 md:px-20">
					<div class="lg:flex lg:items-center lg:-mx-4 relative">
						<div class="lg:w-1/2 lg:px-4">
							<h3 class="text-xl font-medium text-gray-800 md:text-2xl lg:text-3xl">
								We create awesome prototypes, plugins, and templates.
							</h3>

							<p class="mt-6 text-gray-500">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
								laboriosam provident voluptatum id magni iste nobis corrupti,
								delectus quis repellat, debitis error quod explicabo molestiae
								rerum totam ab sunt excepturi?
							</p>

							<button class="flex items-center mt-8 -mx-2 text-indigo-500">
								<svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 mx-1" fill="none"
									viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
									<path stroke-linecap="round" stroke-linejoin="round"
										d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z" />
									<path stroke-linecap="round" stroke-linejoin="round"
										d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
								</svg>
								<p class="mx-1 font-semibold">PLAY VIDEO</p>
							</button>
						</div>

						<div class="mt-8 lg:w-1/2 lg:px-4 lg:mt-0">
							<img class="object-cover w-full rounded-xl h-96 hidden lg:block"
								src="https://images.unsplash.com/photo-1516131206008-dd041a9764fd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
								alt="Video thumbnail" />
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="swiper-slide">
			<section class="w-full mx-auto bg-nordic-gray-light flex pt-12 md:pt-0 md:items-center bg-cover bg-right"
				style="
          max-width: 1600px;
          height: 32rem;
          background-image: url('https://images.unsplash.com/photo-1533090161767-e6ffed986c88?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjM0MTM2fQ&auto=format&fit=crop&w=1600&q=80');
        ">
				<div class="container mx-auto px-10 md:px-20">
					<div class="flex flex-col w-full lg:w-1/2 justify-center items-start px-6 tracking-wide">
						<h1 class="text-black text-2xl my-4">
							Stripy Zig Zag Jigsaw Pillow and Duvet Set
						</h1>
						<a class="text-xl inline-block no-underline border-b border-gray-600 leading-relaxed hover:text-black hover:border-black"
							href="#">products</a>
					</div>
				</div>
			</section>
		</div>
		<div class="swiper-slide">
			<section class="w-full mx-auto bg-nordic-gray-light flex pt-12 md:pt-0 md:items-center bg-cover bg-right"
				style="
          max-width: 1600px;
          height: 32rem;
          background-image: url('https://images.unsplash.com/photo-1533090161767-e6ffed986c88?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjM0MTM2fQ&auto=format&fit=crop&w=1600&q=80');
        ">
				<div class="container mx-auto px-10 md:px-20">
					<div class="flex flex-col w-full lg:w-1/2 justify-center items-start px-6 tracking-wide">
						<h1 class="text-black text-2xl my-4">
							Stripy Zig Zag Jigsaw Pillow and Duvet Set
						</h1>
						<a class="text-xl inline-block no-underline border-b border-gray-600 leading-relaxed hover:text-black hover:border-black"
							href="#">products</a>
					</div>
				</div>
			</section>
		</div>
		<div class="swiper-slide">
			<section
				class="w-full mx-auto bg-nordic-gray-light flex pt-12 md:pt-0 md:items-center bg-cover bg-right bg-white overflow-hidden"
				style="max-width: 1600px; height: 32rem">
				<img src="https://images.unsplash.com/photo-1516131206008-dd041a9764fd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
					loading="lazy" alt="Photo by Fakurian Design"
					class="absolute inset-0 h-full w-full object-cover object-center lg:hidden" />
				<div class="container mx-auto">
					<div class="relative flex flex-col-reverse py-16 lg:pt-0 lg:flex-col lg:pb-0">
						<div
							class="inset-y-0 top-0 right-0 z-0 w-full max-w-xl px-4 mx-auto md:px-0 lg:pr-0 lg:mb-0 lg:mx-0 lg:w-7/12 lg:max-w-full lg:absolute xl:px-0">
							<svg class="absolute left-0 hidden h-full text-white transform -translate-x-1/2 lg:block"
								viewBox="0 0 100 100" fill="currentColor" preserveAspectRatio="none slice">
								<path d="M50 0H100L50 100H0L50 0Z"></path>
							</svg>
							<img class="object-cover w-full h-56 rounded shadow-lg lg:rounded-none lg:shadow-none md:h-96 lg:h-full"
								src="https://images.pexels.com/photos/3184291/pexels-photo-3184291.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260"
								alt="" />
						</div>
						<div
							class="relative flex flex-col items-start w-full max-w-xl px-4 mx-auto md:px-0 lg:px-8 lg:max-w-screen-xl">
							<div class="mb-16 lg:my-40 lg:max-w-lg lg:pr-5">
								<p
									class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-teal-900 uppercase rounded-full bg-teal-accent-400">
									Brand new
								</p>
								<h2
									class="mb-5 font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none">
									Everything you<br class="hidden md:block" />
									can imagine
									<span class="inline-block text-deep-purple-accent-400">is real</span>
								</h2>
								<p class="pr-5 mb-5 text-base text-gray-700 md:text-lg">
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem
									accusantium doloremque laudantium, totam rem aperiam, eaque
									ipsa quae. explicabo.
								</p>
								<div class="flex items-center">
									<a href="/"
										class="inline-flex items-center justify-center h-12 px-6 mr-6 font-medium tracking-wide text-white transition duration-200 rounded shadow-md bg-deep-purple-accent-400 hover:bg-deep-purple-accent-700 focus:shadow-outline focus:outline-none">
										Get started
									</a>
									<a href="/" aria-label=""
										class="inline-flex items-center font-semibold text-gray-800 transition-colors duration-200 hover:text-deep-purple-accent-700">Learn
										more</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="swiper-slide">
			<section class="w-full mx-auto bg-nordic-gray-light flex pt-12 md:pt-0 md:items-center bg-cover bg-right"
				style="
          max-width: 1600px;
          height: 32rem;
          background-image: url('https://images.unsplash.com/photo-1519327232521-1ea2c736d34d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=80');
        ">
				<div class="container mx-auto px-10 md:px-20">
					<div class="flex flex-col w-full lg:w-1/2 justify-center items-start px-6 tracking-wide">
						<h1 class="text-black text-2xl my-4">
							Stripy Zig Zag Jigsaw Pillow and Duvet Set
						</h1>
						<a class="text-xl inline-block no-underline border-b border-gray-600 leading-relaxed hover:text-black hover:border-black"
							href="#">products</a>
					</div>
				</div>
			</section>
		</div>
	</div>

	<!-- Custom Navigation Buttons -->
	<div class="cus-swiper-button-prev left-3 right-auto z-10 top-1/2 absolute hidden sm:block">
		<button type="button"
			class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-sm px-3 py-3 rounded-full text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 relative inline-flex items-center justify-center transition duration-300 ease-out overflow-hidden group">
			<svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
				xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd"
					d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z"
					clip-rule="evenodd"></path>
			</svg>
		</button>
	</div>
	<div class=" cus-swiper-button-next left-auto right-3 z-10 top-1/2 absolute hidden sm:block">
		<button type="button"
			class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-sm px-3 py-3 rounded-full text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 relative inline-flex items-center justify-center transition duration-300 ease-out overflow-hidden group">
			<svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
				xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd"
					d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
					clip-rule="evenodd"></path>
			</svg>
		</button>
	</div>
	<div class="swiper-pagination"></div>
</div>

<!-- call to action - start -->
<div class="bg-white py-6 sm:py-8 lg:py-12">
	<div class="mx-auto max-w-screen-2xl px-4 md:px-8">
		<div class="flex flex-col overflow-hidden rounded-lg bg-gray-900 sm:flex-row md:h-80">
			<!-- content - start -->
			<div class="flex w-full flex-col p-4 sm:w-1/2 sm:p-8 lg:w-2/5">
				<h2 class="mb-4 text-xl font-bold text-white md:text-2xl lg:text-4xl">
					Summer Sale<br />Up to 70% off.
				</h2>

				<p class="mb-8 max-w-md text-gray-400">
					This is a section of some simple filler text, also known as
					placeholder text. It shares some characteristics of a real written
					text.
				</p>

				<div class="mt-auto">
					<a href="#"
						class="inline-block rounded-lg bg-white px-8 py-3 text-center text-sm font-semibold text-gray-800 outline-none ring-indigo-300 transition duration-100 hover:bg-gray-100 focus-visible:ring active:bg-gray-200 md:text-base">Save
						now</a>
				</div>
			</div>
			<!-- content - end -->

			<!-- image - start -->
			<div class="order-first h-48 w-full bg-gray-700 sm:order-none sm:h-auto sm:w-1/2 lg:w-3/5">
				<img src="https://images.unsplash.com/photo-1505846951821-e25bacf2eccd?auto=format&q=75&fit=crop&crop=top&w=1000&h=500"
					loading="lazy" alt="Photo by Dom Hill" class="h-full w-full object-cover object-center" />
			</div>
			<!-- image - end -->
		</div>
	</div>
</div>
<!-- call to action - end -->



 




  

  









<div class="bg-white py-6 sm:py-8 lg:py-12">
	<div class="mx-auto  ">
		<h2 class="mb-8 text-center text-2xl font-bold text-gray-800 md:mb-12 lg:text-3xl">Collections</h2>
			
		<div class="swiper mySwiper2 bg-white rounded-xl p-10">
		
			<div class="swiper-wrapper rounded-xl">
				<div class="swiper-slide">
					<!-- product - start -->
					<div>
						<a href="#"
							class="group relative flex h-96 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
							<img src="https://images.unsplash.com/photo-1603344797033-f0f4f587ab60?auto=format&q=75&fit=crop&crop=top&w=600&h=700"
								loading="lazy" alt="Photo by engin akyurt"
								class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />

							<div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
								<span class="text-gray-500">Women</span>
								<span class="text-lg font-bold text-gray-800 lg:text-xl">Summer Season1</span>
							</div>
						</a>
					</div>
					<!-- product - end -->
				</div>
				<div class="swiper-slide">
					<!-- product - start -->
					<div>
						<a href="#"
							class="group relative flex h-96 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
							<img src="https://images.unsplash.com/photo-1603344797033-f0f4f587ab60?auto=format&q=75&fit=crop&crop=top&w=600&h=700"
								loading="lazy" alt="Photo by engin akyurt"
								class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />

							<div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
								<span class="text-gray-500">Women</span>
								<span class="text-lg font-bold text-gray-800 lg:text-xl">Summer Season2</span>
							</div>
						</a>
					</div>
					<!-- product - end -->
				</div>
				<div class="swiper-slide">
					<!-- product - start -->
					<div>
						<a href="#"
							class="group relative flex h-96 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
							<img src="https://images.unsplash.com/photo-1603344797033-f0f4f587ab60?auto=format&q=75&fit=crop&crop=top&w=600&h=700"
								loading="lazy" alt="Photo by engin akyurt"
								class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />

							<div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
								<span class="text-gray-500">Women</span>
								<span class="text-lg font-bold text-gray-800 lg:text-xl">Summer Season</span>
							</div>
						</a>
					</div>
					<!-- product - end -->
				</div>
				<div class="swiper-slide">
					<!-- product - start -->
					<div>
						<a href="#"
							class="group relative flex h-96 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
							<img src="https://images.unsplash.com/photo-1603344797033-f0f4f587ab60?auto=format&q=75&fit=crop&crop=top&w=600&h=700"
								loading="lazy" alt="Photo by engin akyurt"
								class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />

							<div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
								<span class="text-gray-500">Women</span>
								<span class="text-lg font-bold text-gray-800 lg:text-xl">Summer Season</span>
							</div>
						</a>
					</div>
					<!-- product - end -->
				</div>
				<div class="swiper-slide">
					<!-- product - start -->
					<div>
						<a href="#"
							class="group relative flex h-96 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
							<img src="https://images.unsplash.com/photo-1603344797033-f0f4f587ab60?auto=format&q=75&fit=crop&crop=top&w=600&h=700"
								loading="lazy" alt="Photo by engin akyurt"
								class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />

							<div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
								<span class="text-gray-500">Women</span>
								<span class="text-lg font-bold text-gray-800 lg:text-xl">Summer Season</span>
							</div>
						</a>
					</div>
					<!-- product - end -->
				</div>
				<div class="swiper-slide">
					<!-- product - start -->
					<div>
						<a href="#"
							class="group relative flex h-96 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
							<img src="https://images.unsplash.com/photo-1603344797033-f0f4f587ab60?auto=format&q=75&fit=crop&crop=top&w=600&h=700"
								loading="lazy" alt="Photo by engin akyurt"
								class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />

							<div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
								<span class="text-gray-500">Women</span>
								<span class="text-lg font-bold text-gray-800 lg:text-xl">Summer Season</span>
							</div>
						</a>
					</div>
					<!-- product - end -->
				</div>
				<div class="swiper-slide">
					<!-- product - start -->
					<div>
						<a href="#"
							class="group relative flex h-96 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
							<img src="https://images.unsplash.com/photo-1603344797033-f0f4f587ab60?auto=format&q=75&fit=crop&crop=top&w=600&h=700"
								loading="lazy" alt="Photo by engin akyurt"
								class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />

							<div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
								<span class="text-gray-500">Women</span>
								<span class="text-lg font-bold text-gray-800 lg:text-xl">Summer Season</span>
							</div>
						</a>
					</div>
					<!-- product - end -->
				</div>
				<div class="swiper-slide">
					<!-- product - start -->
					<div>
						<a href="#"
							class="group relative flex h-96 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
							<img src="https://images.unsplash.com/photo-1603344797033-f0f4f587ab60?auto=format&q=75&fit=crop&crop=top&w=600&h=700"
								loading="lazy" alt="Photo by engin akyurt"
								class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />

							<div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
								<span class="text-gray-500">Women</span>
								<span class="text-lg font-bold text-gray-800 lg:text-xl">Summer Season</span>
							</div>
						</a>
					</div>
					<!-- product - end -->
				</div>
				<div class="swiper-slide">
					<!-- product - start -->
					<div>
						<a href="#"
							class="group relative flex h-96 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
							<img src="https://images.unsplash.com/photo-1603344797033-f0f4f587ab60?auto=format&q=75&fit=crop&crop=top&w=600&h=700"
								loading="lazy" alt="Photo by engin akyurt"
								class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />

							<div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
								<span class="text-gray-500">Women</span>
								<span class="text-lg font-bold text-gray-800 lg:text-xl">Summer Season</span>
							</div>
						</a>
					</div>
					<!-- product - end -->
				</div>
			</div>
			

			<div class="button-all pt-5 items-center justify-center  hidden sm:flex">
				<div class="button items-center justify-center flex  py-2 ring-1 w-[6.5rem] rounded-full ring-gray-300 bg-gray-50  space-x-4">
					<div class="cus-swiper-button-prev z-10  ">
						<button type="button" class="p-2 bg-white ring-1 ring-gray-300 hover:bg-blue-700 hover:text-white duration-150 rounded-full ">
							<svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd"
									d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z"
									clip-rule="evenodd"></path>
							</svg>
						</button>
					</div>
					<div class="cus-swiper-button-next   z-10  ">
						<button type="button" class="p-2 bg-white ring-1 ring-gray-300 hover:bg-blue-700 hover:text-white duration-150 rounded-full">
							<svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd"
									d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
									clip-rule="evenodd"></path>
							</svg>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% comment %}

<div class="bg-white py-6 sm:py-8 lg:py-12">
	<div class="mx-auto max-w-screen-2xl px-4 md:px-8">
		<h2 class="mb-8 text-center text-2xl font-bold text-gray-800 md:mb-12 lg:text-3xl">
			Collections
		</h2>

		<div class="grid gap-4 sm:grid-cols-2 md:gap-6 lg:grid-cols-3 xl:grid-cols-4">
			<!-- product - start -->
			<div>
				<a href="#"
					class="group relative flex h-96 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
					<img src="https://images.unsplash.com/photo-1552374196-1ab2a1c593e8?auto=format&q=75&fit=crop&crop=top&w=600&h=700"
						loading="lazy" alt="Photo by Austin Wade"
						class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />

					<div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
						<span class="text-gray-500">Men</span>
						<span class="text-lg font-bold text-gray-800 lg:text-xl">Business Causual</span>
					</div>
				</a>
			</div>
			<!-- product - end -->

			<!-- product - start -->
			<div>
				<a href="#"
					class="group relative flex h-96 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
					<img src="https://images.unsplash.com/photo-1603344797033-f0f4f587ab60?auto=format&q=75&fit=crop&crop=top&w=600&h=700"
						loading="lazy" alt="Photo by engin akyurt"
						class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />

					<div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
						<span class="text-gray-500">Women</span>
						<span class="text-lg font-bold text-gray-800 lg:text-xl">Summer Season</span>
					</div>
				</a>
			</div>
			<!-- product - end -->

			<!-- product - start -->
			<div>
				<a href="#"
					class="group relative flex h-96 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
					<img src="https://images.unsplash.com/photo-1552668693-d0738e00eca8?auto=format&q=75&fit=crop&crop=top&w=600&h=700"
						loading="lazy" alt="Photo by Austin Wade"
						class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />

					<div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
						<span class="text-gray-500">Men</span>
						<span class="text-lg font-bold text-gray-800 lg:text-xl">Streetwear</span>
					</div>
				</a>
			</div>
			<!-- product - end -->

			<!-- product - start -->
			<div>
				<a href="#"
					class="group relative flex h-96 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
					<img src="https://images.unsplash.com/photo-1560269999-cef6ebd23ad3?auto=format&q=75&fit=crop&w=600&h=700"
						loading="lazy" alt="Photo by Austin Wade"
						class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />

					<div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
						<span class="text-gray-500">Women</span>
						<span class="text-lg font-bold text-gray-800 lg:text-xl">Sale</span>
					</div>
				</a>
			</div>
			<!-- product - end -->
			<!-- product - start -->
			<div>
				<a href="#"
					class="group relative flex h-96 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
					<img src="https://images.unsplash.com/photo-1552374196-1ab2a1c593e8?auto=format&q=75&fit=crop&crop=top&w=600&h=700"
						loading="lazy" alt="Photo by Austin Wade"
						class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />

					<div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
						<span class="text-gray-500">Men</span>
						<span class="text-lg font-bold text-gray-800 lg:text-xl">Business Causual</span>
					</div>
				</a>
			</div>
			<!-- product - end -->

			<!-- product - start -->
			<div>
				<a href="#"
					class="group relative flex h-96 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
					<img src="https://images.unsplash.com/photo-1603344797033-f0f4f587ab60?auto=format&q=75&fit=crop&crop=top&w=600&h=700"
						loading="lazy" alt="Photo by engin akyurt"
						class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />

					<div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
						<span class="text-gray-500">Women</span>
						<span class="text-lg font-bold text-gray-800 lg:text-xl">Summer Season</span>
					</div>
				</a>
			</div>
			<!-- product - end -->
			<!-- product - start -->
			<div>
				<a href="#"
					class="group relative flex h-96 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
					<img src="https://images.unsplash.com/photo-1552668693-d0738e00eca8?auto=format&q=75&fit=crop&crop=top&w=600&h=700"
						loading="lazy" alt="Photo by Austin Wade"
						class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />

					<div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
						<span class="text-gray-500">Men</span>
						<span class="text-lg font-bold text-gray-800 lg:text-xl">Streetwear</span>
					</div>
				</a>
			</div>
			<!-- product - end -->

			<!-- product - start -->
			<div>
				<a href="#"
					class="group relative flex h-96 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
					<img src="https://images.unsplash.com/photo-1560269999-cef6ebd23ad3?auto=format&q=75&fit=crop&w=600&h=700"
						loading="lazy" alt="Photo by Austin Wade"
						class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />

					<div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
						<span class="text-gray-500">Women</span>
						<span class="text-lg font-bold text-gray-800 lg:text-xl">Sale</span>
					</div>
				</a>
			</div>
			<!-- product - end -->
		</div>
	</div>
</div>
{% endcomment %} {% comment %}
<div class="mx-auto max-w-screen-2xl min-h-screen px-4 md:px-8 py-10">
	<div id="products" class="grid gap-x-4 gap-y-8 sm:grid-cols-2 md:gap-x-6 lg:grid-cols-3 xl:grid-cols-4">
		<!-- product - start -->
		{% for product in products %}
		<div id="{{product.id}}">
			<a href="/product/?id={{product.id}}"
				class="group relative flex h-80 items-end overflow-hidden rounded-lg bg-gray-100 dark:bg-gray-500 p-4 shadow-lg">
				<img src="{{product.image.url}}" alt="{{product.name}}" loading="lazy"
					class="absolute inset-0 h-full w-full object-cover object-center transition duration-300 group-hover:scale-110" />

				<div
					class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50">
				</div>

				<div class="relative flex flex-col bg-gray-500 rounded-xl px-3 py-1 bg-opacity-40">
					<span class="text-gray-300">{{product.category}}</span>
					<span class="text-lg font-semibold text-white lg:text-xl">{{product.name}}</span>
				</div>
			</a>
			<div class="flex flex-col space-y-3 px-2">
				<div class="flex items-start justify-between gap-2">
					<div class="flex flex-col items-end">
						<span
							class="font-bold text-gray-600 dark:text-gray-100 lg:text-lg px-5 py-2">{{product.price|currency}}</span>
					</div>
				</div>

				<div class="card-footer mt-4 px-16 md:px-10 p-0 grid grid-cols-12">
					{% if product|is_in_cart:request.session.cart %}

					<div class="col-span-12 flex items-center space-x-2">
						<form action="/#{{product.id}}" method="post" class="flex items-center">
							{% csrf_token %}
							<input hidden type="text" name="product" value="{{product.id}}" />
							<input hidden type="text" name="remove" value="True" />
							<button type="submit"
								class="bg-gray-700 text-white py-2 px-3 rounded-md hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-700">
								-
							</button>
						</form>
						<div class="flex-1 flex py-2 justify-center items-center bg-gray-700 text-white rounded-md">
							{{product|cart_quantity:request.session.cart}} in Cart
						</div>
						<form action="/#{{product.id}}" method="post" class="flex items-center">
							{% csrf_token %}
							<input hidden type="text" name="product" value="{{product.id}}" />
							<button type="submit"
								class="bg-gray-700 text-white py-2 px-3 rounded-md hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-700">
								+
							</button>
						</form>
					</div>

					{% else %}
					<div class="col-span-12 hover:scale-105">
						<form action="/#{{product.id}}" method="post">
							{% csrf_token %}
							<input hidden type="text" name="product" value="{{product.id}}" />
							<button type="submit"
								class="bg-gray-700 text-white py-2 px-3 w-full hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-700 rounded-md">
								Add To Cart
							</button>
						</form>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}
		<!-- product - end -->
	</div>
</div>

{% endcomment %} {% endblock %}