{% extends 'base.html' %}

{% block content %}

{% load cart %}
{% load custom_filter %}
<!-- body -->
<!-- CSS -->

<!-- Banner -->


<a href="#_" class="relative inline-flex items-center justify-start py-3 pl-4 pr-12 overflow-hidden font-semibold text-indigo-600 transition-all duration-150 ease-in-out rounded hover:pl-10 hover:pr-6 bg-gray-50 group">
	<span class="absolute bottom-0 left-0 w-full h-1 transition-all duration-150 ease-in-out bg-indigo-600 group-hover:h-full"></span>
	<span class="absolute right-0 pr-4 duration-200 ease-out group-hover:translate-x-12">
	<svg class="w-5 h-5 text-green-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg>
	</span>
	<span class="absolute left-0 pl-2.5 -translate-x-12 group-hover:translate-x-0 ease-out duration-200">
	<svg class="w-5 h-5 text-green-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg>
	</span>

	</a>






<div id="marketing-banner" tabindex="-1" class="fixed z-50 flex flex-col md:flex-row justify-between w-[calc(100%-2rem)] p-4 -translate-x-1/2 bg-white border border-gray-100 rounded-lg shadow-sm lg:max-w-7xl left-1/2 top-15 dark:bg-gray-700 dark:border-gray-600">
    <div class="flex flex-col items-start mb-3 mr-4 md:items-center md:flex-row md:mb-0">
        <a href="https://flowbite.com/" class="flex items-center mb-2 border-gray-200 md:pr-4 md:mr-4 md:border-r md:mb-0 dark:border-gray-600">
            <img src="https://flowbite.com/docs/images/logo.svg" class="h-6 mr-2" alt="Flowbite Logo">
            <span class="self-center text-lg font-semibold whitespace-nowrap dark:text-white">Flowbite</span>
        </a>
        <p class="flex items-center text-sm font-normal text-gray-500 dark:text-gray-400">Build websites even faster with components on top of Tailwind CSS</p>
    </div>
    <div class="flex items-center flex-shrink-0">
        <a href="#" class="px-5 py-2 mr-2 text-xs font-medium text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Sign up</a>
        <button data-dismiss-target="#marketing-banner" type="button" class="absolute top-2.5 right-2.5 md:relative md:top-auto md:right-auto flex-shrink-0 inline-flex justify-center items-center text-gray-400 hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 dark:hover:bg-gray-600 dark:hover:text-white">
            <svg aria-hidden="true" class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            <span class="sr-only">Close banner</span>
        </button>
    </div>
</div>


<div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">				
		<section class="w-full mx-auto bg-nordic-gray-light flex pt-12 md:pt-0 md:items-center bg-cover bg-right  bg-white" style="max-width:1600px; height: 32rem; ">
		<img src="https://images.unsplash.com/photo-1516131206008-dd041a9764fd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" loading="lazy" alt="Photo by Fakurian Design" class="absolute inset-0 h-full w-full object-cover object-center  lg:hidden" />
		<div class="container mx-auto px-10 md:px-20">
	
			<div class="lg:flex lg:items-center lg:-mx-4 relative">
				<div class="lg:w-1/2 lg:px-4">
					<h3 class="text-xl font-medium text-gray-800 md:text-2xl lg:text-3xl">We create awesome prototypes,
						plugins, and templates.</h3>
	
					<p class="mt-6 text-gray-500 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic laboriosam
						provident voluptatum id magni iste nobis corrupti, delectus quis repellat, debitis error quod
						explicabo molestiae rerum totam ab sunt excepturi?</p>
	
					<button class="flex items-center mt-8 -mx-2 text-indigo-500">
						<svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 mx-1" fill="none" viewBox="0 0 24 24"
							stroke="currentColor" stroke-width="2">
							<path stroke-linecap="round" stroke-linejoin="round"
								d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z" />
							<path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
						</svg>
						<p class="mx-1 font-semibold">PLAY VIDEO</p>
					</button>
				</div>
	
				<div class="mt-8 lg:w-1/2 lg:px-4 lg:mt-0">
					<img class="object-cover w-full rounded-xl h-96 hidden lg:block "
						src="https://images.unsplash.com/photo-1516131206008-dd041a9764fd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
						alt="Video thumbnail">
				</div>
			</div>
	
		  </div>

	</section>  
</div>
      <div class="swiper-slide">
		
		<section class="w-full mx-auto bg-nordic-gray-light flex pt-12 md:pt-0 md:items-center bg-cover bg-right" style="max-width:1600px; height: 32rem; background-image: url('https://images.unsplash.com/photo-1533090161767-e6ffed986c88?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjM0MTM2fQ&auto=format&fit=crop&w=1600&q=80');">

			<div class="container mx-auto px-10 md:px-20">
		
				<div class="flex flex-col w-full lg:w-1/2 justify-center items-start  px-6 tracking-wide">
					<h1 class="text-black text-2xl my-4">Stripy Zig Zag Jigsaw Pillow and Duvet Set</h1>
					<a class="text-xl inline-block no-underline border-b border-gray-600 leading-relaxed hover:text-black hover:border-black" href="#">products</a>
		
				</div>
		
			  </div>
		
		</section>

	  </div>
      <div class="swiper-slide">

		<section class="w-full mx-auto bg-nordic-gray-light flex pt-12 md:pt-0 md:items-center bg-cover bg-right" style="max-width:1600px; height: 32rem; background-image: url('https://images.unsplash.com/photo-1533090161767-e6ffed986c88?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjM0MTM2fQ&auto=format&fit=crop&w=1600&q=80');">

			<div class="container mx-auto px-10 md:px-20">
		
				<div class="flex flex-col w-full lg:w-1/2 justify-center items-start  px-6 tracking-wide">
					<h1 class="text-black text-2xl my-4">Stripy Zig Zag Jigsaw Pillow and Duvet Set</h1>
					<a class="text-xl inline-block no-underline border-b border-gray-600 leading-relaxed hover:text-black hover:border-black" href="#">products</a>
		
				</div>
		
			  </div>
		
		</section>

	  </div>
      <div class="swiper-slide">

		<section class="w-full mx-auto bg-nordic-gray-light flex pt-12 md:pt-0 md:items-center bg-cover bg-right  bg-white overflow-hidden" style="max-width:1600px; height: 32rem; ">
			<img src="https://images.unsplash.com/photo-1516131206008-dd041a9764fd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" loading="lazy" alt="Photo by Fakurian Design" class="absolute inset-0 h-full w-full object-cover object-center  lg:hidden" />
			<div class="container mx-auto ">
		
				<div class="relative flex flex-col-reverse py-16 lg:pt-0 lg:flex-col lg:pb-0">
					<div class="inset-y-0 top-0 right-0 z-0 w-full max-w-xl px-4 mx-auto md:px-0 lg:pr-0 lg:mb-0 lg:mx-0 lg:w-7/12 lg:max-w-full lg:absolute xl:px-0">
					  <svg class="absolute left-0 hidden h-full text-white transform -translate-x-1/2 lg:block" viewBox="0 0 100 100" fill="currentColor" preserveAspectRatio="none slice">
						<path d="M50 0H100L50 100H0L50 0Z"></path>
					  </svg>
					  <img
						class="object-cover w-full h-56 rounded shadow-lg lg:rounded-none lg:shadow-none md:h-96 lg:h-full"
						src="https://images.pexels.com/photos/3184291/pexels-photo-3184291.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260"
						alt=""
					  />
					</div>
					<div class="relative flex flex-col items-start w-full max-w-xl px-4 mx-auto md:px-0 lg:px-8 lg:max-w-screen-xl">
					  <div class="mb-16 lg:my-40 lg:max-w-lg lg:pr-5">
						<p class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-teal-900 uppercase rounded-full bg-teal-accent-400">
						  Brand new
						</p>
						<h2 class="mb-5 font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none">
						  Everything you<br class="hidden md:block" />
						  can imagine
						  <span class="inline-block text-deep-purple-accent-400">is real</span>
						</h2>
						<p class="pr-5 mb-5 text-base text-gray-700 md:text-lg">
						  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae. explicabo.
						</p>
						<div class="flex items-center">
						  <a
							href="/"
							class="inline-flex items-center justify-center h-12 px-6 mr-6 font-medium tracking-wide text-white transition duration-200 rounded shadow-md bg-deep-purple-accent-400 hover:bg-deep-purple-accent-700 focus:shadow-outline focus:outline-none"
						  >
							Get started
						  </a>
						  <a href="/" aria-label="" class="inline-flex items-center font-semibold text-gray-800 transition-colors duration-200 hover:text-deep-purple-accent-700">Learn more</a>
						</div>
					  </div>
					</div>
				  </div>
		
			  </div>

		</section> 

	  </div>
      <div class="swiper-slide">
		
		<section class="w-full mx-auto bg-nordic-gray-light flex pt-12 md:pt-0 md:items-center bg-cover bg-right" style="max-width:1600px; height: 32rem; background-image: url('https://images.unsplash.com/photo-1519327232521-1ea2c736d34d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=80');">

			<div class="container mx-auto px-10 md:px-20">
		
				<div class="flex flex-col w-full lg:w-1/2 justify-center items-start  px-6 tracking-wide">
					<h1 class="text-black text-2xl my-4">Stripy Zig Zag Jigsaw Pillow and Duvet Set</h1>
					<a class="text-xl inline-block no-underline border-b border-gray-600 leading-relaxed hover:text-black hover:border-black" href="#">products</a>
		
				</div>
		
			  </div>
		
		</section>

	  </div>

    </div>
  <!-- Custom Navigation Buttons -->
  <div class="cus-swiper-button-next left-3 right-auto z-10 top-1/2 absolute">Perv</div>
  <div class="cus-swiper-button-prev left-auto right-3 z-10 top-1/2 absolute">Next</div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="swiper mySwiper2">
    <div class="swiper-wrapper">
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
      <div class="swiper-slide">Slide 4</div>
      <div class="swiper-slide">Slide 5</div>
      <div class="swiper-slide">Slide 6</div>
      <div class="swiper-slide">Slide 7</div>
      <div class="swiper-slide">Slide 8</div>
      <div class="swiper-slide">Slide 9</div>
    </div>
	<div class="cus-swiper-button-next left-3 right-auto z-10 top-1/2 absolute">Perv</div>
	<div class="cus-swiper-button-prev left-auto right-3 z-10 top-1/2 absolute">Next</div>
    <div class="swiper-pagination"></div>
  </div>
<!-- Slider-->
<!-- <div class="swiffy-slider slider-item-nogap slider-item-snapstart slider-item-nosnap-touch slider-nav-caretfill slider-nav-touch slider-nav-page slider-nav-autoplay-dis  slider-indicators-highlight slider-nav-animation slider-nav-animation-fadein slider-nav-animation-slow" data-slider-nav-autoplay-interval="6000">
    <ul class="slider-container">
        <li class="">
            <div id="slide1">

			
			

				<section class="w-full mx-auto bg-nordic-gray-light flex pt-12 md:pt-0 md:items-center bg-cover bg-right  bg-white" style="max-width:1600px; height: 32rem; ">
					<img src="https://images.unsplash.com/photo-1516131206008-dd041a9764fd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" loading="lazy" alt="Photo by Fakurian Design" class="absolute inset-0 h-full w-full object-cover object-center  lg:hidden" />
					<div class="container mx-auto px-10 md:px-20">
				
						<div class="lg:flex lg:items-center lg:-mx-4 relative">
							<div class="lg:w-1/2 lg:px-4">
								<h3 class="text-xl font-medium text-gray-800 md:text-2xl lg:text-3xl">We create awesome prototypes,
									plugins, and templates.</h3>
				
								<p class="mt-6 text-gray-500 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic laboriosam
									provident voluptatum id magni iste nobis corrupti, delectus quis repellat, debitis error quod
									explicabo molestiae rerum totam ab sunt excepturi?</p>
				
								<button class="flex items-center mt-8 -mx-2 text-indigo-500">
									<svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 mx-1" fill="none" viewBox="0 0 24 24"
										stroke="currentColor" stroke-width="2">
										<path stroke-linecap="round" stroke-linejoin="round"
											d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z" />
										<path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
									</svg>
									<p class="mx-1 font-semibold">PLAY VIDEO</p>
								</button>
							</div>
				
							<div class="mt-8 lg:w-1/2 lg:px-4 lg:mt-0">
								<img class="object-cover w-full rounded-xl h-96 hidden lg:block "
									src="https://images.unsplash.com/photo-1516131206008-dd041a9764fd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
									alt="Video thumbnail">
							</div>
						</div>
				
					  </div>

				</section>  



			</div>
        </li>
        <li class="">
            <div id="slide2">
			
				<section class="w-full mx-auto bg-nordic-gray-light flex pt-12 md:pt-0 md:items-center bg-cover bg-right" style="max-width:1600px; height: 32rem; background-image: url('https://images.unsplash.com/photo-1533090161767-e6ffed986c88?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjM0MTM2fQ&auto=format&fit=crop&w=1600&q=80');">

					<div class="container mx-auto px-10 md:px-20">
				
						<div class="flex flex-col w-full lg:w-1/2 justify-center items-start  px-6 tracking-wide">
							<h1 class="text-black text-2xl my-4">Stripy Zig Zag Jigsaw Pillow and Duvet Set</h1>
							<a class="text-xl inline-block no-underline border-b border-gray-600 leading-relaxed hover:text-black hover:border-black" href="#">products</a>
				
						</div>
				
					  </div>
				
				</section>
				
				</div>
        </li>
        <li class="">
            <div id="slide3">


				<section class="w-full mx-auto bg-nordic-gray-light flex pt-12 md:pt-0 md:items-center bg-cover bg-right" style="max-width:1600px; height: 32rem; background-image: url('https://images.unsplash.com/photo-1519327232521-1ea2c736d34d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=80');">

					<div class="container mx-auto px-10 md:px-20">
				
						<div class="flex flex-col w-full lg:w-1/2 justify-center items-start  px-6 tracking-wide">
							<h1 class="text-black text-2xl my-4">Stripy Zig Zag Jigsaw Pillow and Duvet Set</h1>
							<a class="text-xl inline-block no-underline border-b border-gray-600 leading-relaxed hover:text-black hover:border-black" href="#">products</a>
				
						</div>
				
					  </div>
				
				</section>



			</div>
        </li>
        <li class="slide-visible">
            <div id="slide4">

				<section class="w-full mx-auto bg-nordic-gray-light flex pt-12 md:pt-0 md:items-center bg-cover bg-right  bg-white overflow-hidden" style="max-width:1600px; height: 32rem; ">
					<img src="https://images.unsplash.com/photo-1516131206008-dd041a9764fd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" loading="lazy" alt="Photo by Fakurian Design" class="absolute inset-0 h-full w-full object-cover object-center  lg:hidden" />
					<div class="container mx-auto ">
				
						<div class="relative flex flex-col-reverse py-16 lg:pt-0 lg:flex-col lg:pb-0">
							<div class="inset-y-0 top-0 right-0 z-0 w-full max-w-xl px-4 mx-auto md:px-0 lg:pr-0 lg:mb-0 lg:mx-0 lg:w-7/12 lg:max-w-full lg:absolute xl:px-0">
							  <svg class="absolute left-0 hidden h-full text-white transform -translate-x-1/2 lg:block" viewBox="0 0 100 100" fill="currentColor" preserveAspectRatio="none slice">
								<path d="M50 0H100L50 100H0L50 0Z"></path>
							  </svg>
							  <img
								class="object-cover w-full h-56 rounded shadow-lg lg:rounded-none lg:shadow-none md:h-96 lg:h-full"
								src="https://images.pexels.com/photos/3184291/pexels-photo-3184291.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260"
								alt=""
							  />
							</div>
							<div class="relative flex flex-col items-start w-full max-w-xl px-4 mx-auto md:px-0 lg:px-8 lg:max-w-screen-xl">
							  <div class="mb-16 lg:my-40 lg:max-w-lg lg:pr-5">
								<p class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-teal-900 uppercase rounded-full bg-teal-accent-400">
								  Brand new
								</p>
								<h2 class="mb-5 font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none">
								  Everything you<br class="hidden md:block" />
								  can imagine
								  <span class="inline-block text-deep-purple-accent-400">is real</span>
								</h2>
								<p class="pr-5 mb-5 text-base text-gray-700 md:text-lg">
								  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae. explicabo.
								</p>
								<div class="flex items-center">
								  <a
									href="/"
									class="inline-flex items-center justify-center h-12 px-6 mr-6 font-medium tracking-wide text-white transition duration-200 rounded shadow-md bg-deep-purple-accent-400 hover:bg-deep-purple-accent-700 focus:shadow-outline focus:outline-none"
								  >
									Get started
								  </a>
								  <a href="/" aria-label="" class="inline-flex items-center font-semibold text-gray-800 transition-colors duration-200 hover:text-deep-purple-accent-700">Learn more</a>
								</div>
							  </div>
							</div>
						  </div>
				
					  </div>

				</section> 

			</div>
        </li>
		<li class="">
            <div id="slide5">        
				
				
				<section class="w-full mx-auto bg-nordic-gray-light flex pt-12 md:pt-0 md:items-center bg-cover bg-right" style="max-width:1600px; height: 32rem; background-image: url('https://images.unsplash.com/photo-1519327232521-1ea2c736d34d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=80');">

					<div class="container mx-auto px-10 md:px-20">
				
						<div class="flex flex-col w-full lg:w-1/2 justify-center items-start  px-6 tracking-wide">
							<h1 class="text-black text-2xl my-4">Stripy Zig Zag Jigsaw Pillow and Duvet Set</h1>
							<a class="text-xl inline-block no-underline border-b border-gray-600 leading-relaxed hover:text-black hover:border-black" href="#">products</a>
				
						</div>
				
					  </div>
				
				</section>
				
				</div> 
        </li>
       
    </ul>

    <button type="button" class="slider-nav"></button>
    <button type="button" class="slider-nav slider-nav-next"></button>

    <ul class="slider-indicators">
        <li class="active"></li>
        <li class=""></li>
        <li class=""></li>
        <li class=""></li>
        <li class=""></li>
      

    </ul>
</div> -->



<div class="bg-white py-6 sm:py-8 lg:py-12">
	<div class="mx-auto max-w-screen-2xl px-4 md:px-8">
	  <h2 class="mb-8 text-center text-2xl font-bold text-gray-800 md:mb-12 lg:text-3xl">Collections</h2>
	  {% comment %} 
	  <div class="grid gap-4 sm:grid-cols-2 md:gap-6 lg:grid-cols-3 xl:grid-cols-4">
		<!-- product - start -->
		<div>
		  <a href="#" class="group relative flex h-96 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
			<img src="https://images.unsplash.com/photo-1552374196-1ab2a1c593e8?auto=format&q=75&fit=crop&crop=top&w=600&h=700" loading="lazy" alt="Photo by Austin Wade" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
  
			<div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
			  <span class="text-gray-500">Men</span>
			  <span class="text-lg font-bold text-gray-800 lg:text-xl">Business Causual</span>
			</div>
		  </a>
		</div>
		<!-- product - end -->
  
		<!-- product - start -->
		<div>
		  <a href="#" class="group relative flex h-96 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
			<img src="https://images.unsplash.com/photo-1603344797033-f0f4f587ab60?auto=format&q=75&fit=crop&crop=top&w=600&h=700" loading="lazy" alt="Photo by engin akyurt" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
  
			<div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
			  <span class="text-gray-500">Women</span>
			  <span class="text-lg font-bold text-gray-800 lg:text-xl">Summer Season</span>
			</div>
		  </a>
		</div>
		<!-- product - end -->
  
		<!-- product - start -->
		<div>
		  <a href="#" class="group relative flex h-96 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
			<img src="https://images.unsplash.com/photo-1552668693-d0738e00eca8?auto=format&q=75&fit=crop&crop=top&w=600&h=700" loading="lazy" alt="Photo by Austin Wade" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
  
			<div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
			  <span class="text-gray-500">Men</span>
			  <span class="text-lg font-bold text-gray-800 lg:text-xl">Streetwear</span>
			</div>
		  </a>
		</div>
		<!-- product - end -->
  
		<!-- product - start -->
		<div>
		  <a href="#" class="group relative flex h-96 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
			<img src="https://images.unsplash.com/photo-1560269999-cef6ebd23ad3?auto=format&q=75&fit=crop&w=600&h=700" loading="lazy" alt="Photo by Austin Wade" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
  
			<div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
			  <span class="text-gray-500">Women</span>
			  <span class="text-lg font-bold text-gray-800 lg:text-xl">Sale</span>
			</div>
		  </a>
		</div>
		<!-- product - end -->
			<!-- product - start -->
			<div>
				<a href="#" class="group relative flex h-96 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
				  <img src="https://images.unsplash.com/photo-1552374196-1ab2a1c593e8?auto=format&q=75&fit=crop&crop=top&w=600&h=700" loading="lazy" alt="Photo by Austin Wade" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
		
				  <div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
					<span class="text-gray-500">Men</span>
					<span class="text-lg font-bold text-gray-800 lg:text-xl">Business Causual</span>
				  </div>
				</a>
			  </div>
			  <!-- product - end -->
		
			  <!-- product - start -->
			  <div>
				<a href="#" class="group relative flex h-96 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
				  <img src="https://images.unsplash.com/photo-1603344797033-f0f4f587ab60?auto=format&q=75&fit=crop&crop=top&w=600&h=700" loading="lazy" alt="Photo by engin akyurt" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
		
				  <div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
					<span class="text-gray-500">Women</span>
					<span class="text-lg font-bold text-gray-800 lg:text-xl">Summer Season</span>
				  </div>
				</a>
			  </div>
			  <!-- product - end -->
			  <!-- product - start -->
		<div>
			<a href="#" class="group relative flex h-96 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
			  <img src="https://images.unsplash.com/photo-1552668693-d0738e00eca8?auto=format&q=75&fit=crop&crop=top&w=600&h=700" loading="lazy" alt="Photo by Austin Wade" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
	
			  <div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
				<span class="text-gray-500">Men</span>
				<span class="text-lg font-bold text-gray-800 lg:text-xl">Streetwear</span>
			  </div>
			</a>
		  </div>
		  <!-- product - end -->
	
		  <!-- product - start -->
		  <div>
			<a href="#" class="group relative flex h-96 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
			  <img src="https://images.unsplash.com/photo-1560269999-cef6ebd23ad3?auto=format&q=75&fit=crop&w=600&h=700" loading="lazy" alt="Photo by Austin Wade" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
	
			  <div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
				<span class="text-gray-500">Women</span>
				<span class="text-lg font-bold text-gray-800 lg:text-xl">Sale</span>
			  </div>
			</a>
		  </div>
		  <!-- product - end -->
	  </div>



	  {% endcomment %}


	  <div class="swiffy-slider slider-item-show4 slider-item-show2-sm slider-item-snapstart slider-item-nosnap-touch slider-nav-caretfill slider-nav-outside slider-nav-visible slider-nav-page slider-indicators-dark slider-indicators-outside slider-indicators-highlight">
		<ul class="slider-container">
			<li>
				<div id="slide1">		<div>
		  <a href="#" class="group relative flex h-96 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
			<img src="https://images.unsplash.com/photo-1552374196-1ab2a1c593e8?auto=format&q=75&fit=crop&crop=top&w=600&h=700" loading="lazy" alt="Photo by Austin Wade" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
  
			<div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
			  <span class="text-gray-500">Men</span>
			  <span class="text-lg font-bold text-gray-800 lg:text-xl">Business Causual</span>
			</div>
		  </a>
		</div></div>
			</li>
			<li>
				<div id="slide2">		<div>
		  <a href="#" class="group relative flex h-96 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
			<img src="https://images.unsplash.com/photo-1552668693-d0738e00eca8?auto=format&q=75&fit=crop&crop=top&w=600&h=700" loading="lazy" alt="Photo by Austin Wade" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
  
			<div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
			  <span class="text-gray-500">Men</span>
			  <span class="text-lg font-bold text-gray-800 lg:text-xl">Streetwear</span>
			</div>
		  </a>
		</div></div>
			</li>
			<li>
				<div id="slide3">		<div>
		  <a href="#" class="group relative flex h-96 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
			<img src="https://images.unsplash.com/photo-1552374196-1ab2a1c593e8?auto=format&q=75&fit=crop&crop=top&w=600&h=700" loading="lazy" alt="Photo by Austin Wade" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
  
			<div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
			  <span class="text-gray-500">Men</span>
			  <span class="text-lg font-bold text-gray-800 lg:text-xl">Business Causual</span>
			</div>
		  </a>
		</div></div>
			</li>
			<li>
				<div id="slide4">		<div>
		  <a href="#" class="group relative flex h-96 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
			<img src="https://images.unsplash.com/photo-1552668693-d0738e00eca8?auto=format&q=75&fit=crop&crop=top&w=600&h=700" loading="lazy" alt="Photo by Austin Wade" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
  
			<div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
			  <span class="text-gray-500">Men</span>
			  <span class="text-lg font-bold text-gray-800 lg:text-xl">Streetwear</span>
			</div>
		  </a>
		</div></div>
			</li>
			<li>
				<div id="slide5">		<div>
		  <a href="#" class="group relative flex h-96 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
			<img src="https://images.unsplash.com/photo-1552374196-1ab2a1c593e8?auto=format&q=75&fit=crop&crop=top&w=600&h=700" loading="lazy" alt="Photo by Austin Wade" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
  
			<div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
			  <span class="text-gray-500">Men</span>
			  <span class="text-lg font-bold text-gray-800 lg:text-xl">Business Causual</span>
			</div>
		  </a>
		</div></div>
			</li>
			<li>
				<div id="slide6">		<div>
		  <a href="#" class="group relative flex h-96 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
			<img src="https://images.unsplash.com/photo-1552374196-1ab2a1c593e8?auto=format&q=75&fit=crop&crop=top&w=600&h=700" loading="lazy" alt="Photo by Austin Wade" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
  
			<div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
			  <span class="text-gray-500">Men</span>
			  <span class="text-lg font-bold text-gray-800 lg:text-xl">Business Causual</span>
			</div>
		  </a>
		</div></div>
			</li>
			<li>
				<div id="slide7">		<div>
		  <a href="#" class="group relative flex h-96 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
			<img src="https://images.unsplash.com/photo-1552668693-d0738e00eca8?auto=format&q=75&fit=crop&crop=top&w=600&h=700" loading="lazy" alt="Photo by Austin Wade" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
  
			<div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
			  <span class="text-gray-500">Men</span>
			  <span class="text-lg font-bold text-gray-800 lg:text-xl">Streetwear</span>
			</div>
		  </a>
		</div></div>
			</li>
			<li>
				<div id="slide8">		<div>
		  <a href="#" class="group relative flex h-96 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
			<img src="https://images.unsplash.com/photo-1552374196-1ab2a1c593e8?auto=format&q=75&fit=crop&crop=top&w=600&h=700" loading="lazy" alt="Photo by Austin Wade" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
  
			<div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
			  <span class="text-gray-500">Men</span>
			  <span class="text-lg font-bold text-gray-800 lg:text-xl">Business Causual</span>
			</div>
		  </a>
		</div></div>
			</li>
			<li>
				<div id="slide9">		<div>
		  <a href="#" class="group relative flex h-96 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
			<img src="https://images.unsplash.com/photo-1552668693-d0738e00eca8?auto=format&q=75&fit=crop&crop=top&w=600&h=700" loading="lazy" alt="Photo by Austin Wade" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
  
			<div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
			  <span class="text-gray-500">Men</span>
			  <span class="text-lg font-bold text-gray-800 lg:text-xl">Streetwear</span>
			</div>
		  </a>
		</div></div>
			</li>
		</ul>
	
		<button type="button" class="slider-nav"></button>
		<button type="button" class="slider-nav slider-nav-next"></button>
	
		<ul class="slider-indicators">
			<li class="active"></li>
			<li class=""></li>
			<li class=""></li>
			<li class=""></li>
			<li></li>
			<li class=""></li>
			<li></li>
			<li></li>
			<li class=""></li>
		</ul>
	</div>







	</div>
  </div>
<!-- call to action - start -->
<div class="bg-white py-6 sm:py-8 lg:py-12">
	<div class="mx-auto max-w-screen-2xl px-4 md:px-8">
	  <div class="flex flex-col overflow-hidden rounded-lg bg-gray-900 sm:flex-row md:h-80">
		<!-- content - start -->
		<div class="flex w-full flex-col p-4 sm:w-1/2 sm:p-8 lg:w-2/5">
		  <h2 class="mb-4 text-xl font-bold text-white md:text-2xl lg:text-4xl">Summer Sale<br />Up to 70% off.</h2>
  
		  <p class="mb-8 max-w-md text-gray-400">This is a section of some simple filler text, also known as placeholder text. It shares some characteristics of a real written text.</p>
  
		  <div class="mt-auto">
			<a href="#" class="inline-block rounded-lg bg-white px-8 py-3 text-center text-sm font-semibold text-gray-800 outline-none ring-indigo-300 transition duration-100 hover:bg-gray-100 focus-visible:ring active:bg-gray-200 md:text-base">Save now</a>
		  </div>
		</div>
		<!-- content - end -->
  
		<!-- image - start -->
		<div class="order-first h-48 w-full bg-gray-700 sm:order-none sm:h-auto sm:w-1/2 lg:w-3/5">
		  <img src="https://images.unsplash.com/photo-1505846951821-e25bacf2eccd?auto=format&q=75&fit=crop&crop=top&w=1000&h=500" loading="lazy" alt="Photo by Dom Hill" class="h-full w-full object-cover object-center" />
		</div>
		<!-- image - end -->
	  </div>
	</div>
  </div>
  <!-- call to action - end --> 










{% comment %} 
<div class="mx-auto max-w-screen-2xl min-h-screen px-4 md:px-8 py-10 ">


	<div id='products' class="grid gap-x-4 gap-y-8 sm:grid-cols-2 md:gap-x-6 lg:grid-cols-3 xl:grid-cols-4">
	  <!-- product - start -->
	  {% for product in products %}
	  <div id="{{product.id}}" >
		<a href="/product/?id={{product.id}}" class="group relative flex h-80 items-end overflow-hidden rounded-lg bg-gray-100 dark:bg-gray-500 p-4 shadow-lg">
		  <img src="{{product.image.url}}" alt="{{product.name}}" loading="lazy"
			class="absolute  inset-0 h-full w-full object-cover object-center transition duration-300 group-hover:scale-110" />

		  <div
			class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50">
		  </div>

		  <div class="relative flex flex-col bg-gray-500 rounded-xl px-3 py-1 bg-opacity-40">
			<span class="text-gray-300">{{product.category}}</span>
			<span class="text-lg font-semibold text-white lg:text-xl">{{product.name}}</span>
		  </div>
		 
		</a>
		<div class="flex flex-col space-y-3 px-2">
		  <div class="flex items-start justify-between gap-2">
			<div class="flex flex-col items-end">
			  <span class="font-bold text-gray-600 dark:text-gray-100 lg:text-lg px-5 py-2">{{product.price|currency}}</span>
			</div>
		  </div>





		  
		  <div class="card-footer mt-4 px-16 md:px-10 p-0 grid grid-cols-12">
			{% if product|is_in_cart:request.session.cart %}




			<div class="col-span-12 flex items-center space-x-2">
				<form action="/#{{product.id}}" method="post" class="flex items-center ">
					{% csrf_token %}
					<input hidden type="text" name='product' value='{{product.id}}'>
					<input hidden type="text" name='remove' value='True'>
					<button type="submit" class="bg-gray-700 text-white py-2 px-3 rounded-md hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-700">
						-
					</button>
				</form>
				<div class="flex-1 flex py-2 justify-center items-center bg-gray-700 text-white rounded-md ">
					{{product|cart_quantity:request.session.cart}} in Cart
				</div>
				<form action="/#{{product.id}}" method="post" class="flex items-center ">
					{% csrf_token %}
					<input hidden type="text" name='product' value='{{product.id}}'>
					<button type="submit" class="bg-gray-700 text-white py-2 px-3 rounded-md hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-700">
						+
					</button>
				</form>
			</div>
	
			{% else %}
			<div class="col-span-12 hover:scale-105">
				<form action="/#{{product.id}}" method="post">
					{% csrf_token %}
					<input hidden type="text" name='product' value='{{product.id}}'>
					<button type="submit" class="bg-gray-700 text-white py-2 px-3 w-full hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-700 rounded-md">
						Add To Cart
					</button>
				</form>
			</div>
			{% endif %}
		</div>
		</div>
	  </div>
	  {% endfor %}
	  <!-- product - end -->


	</div>
  </div>











 {% endcomment %}






  {% endblock %}





		
		
		




		