{% extends 'base.html' %}

{% block content %}

{% load cart %}
{% load custom_filter %}
<!-- body -->


<div class="mx-auto max-w-screen-2xl min-h-screen px-4 md:px-8 py-10 ">


	<div id='products' class="grid gap-x-4 gap-y-8 sm:grid-cols-2 md:gap-x-6 lg:grid-cols-3 xl:grid-cols-4">
	  <!-- product - start -->
	  {% for product in products %}
	  <div id="{{product.id}}" >
		<a href="/product/?id={{product.id}}" class="group relative flex h-80 items-end overflow-hidden rounded-lg bg-gray-100 dark:bg-gray-500 p-4 shadow-lg">
		  <img src="{{product.image.url}}" alt="{{product.name}}" loading="lazy"
			class="absolute  inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />

		  <div
			class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50">
		  </div>

		  <div class="relative flex flex-col bg-gray-500 rounded-xl px-3 py-1 bg-opacity-40">
			<span class="text-gray-300">{{product.category}}</span>
			<span class="text-lg font-semibold text-white lg:text-xl">{{product.name}}</span>
		  </div>
		 
		</a>
		<div class="flex flex-col space-y-3 px-2">
		  <div class="flex items-start justify-between gap-2">
			<div class="flex flex-col items-end">
			  <span class="font-bold text-gray-600 dark:text-gray-100 lg:text-lg px-5 py-2">{{product.price|currency}}</span>
			</div>
		  </div>
		  <div class="card-footer mt-4 px-16 md:px-10 p-0 grid grid-cols-12">
			{% if product|is_in_cart:request.session.cart %}
			<div class="col-span-12 flex items-center space-x-2">
				<form action="/#{{product.id}}" method="post" class="flex items-center ">
					{% csrf_token %}
					<input hidden type="text" name='product' value='{{product.id}}'>
					<input hidden type="text" name='remove' value='True'>
					<button type="submit" class="bg-gray-700 text-white py-2 px-3 rounded-md hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-700">
						-
					</button>
				</form>
				<div class="flex-1 flex py-2 justify-center items-center bg-gray-700 text-white rounded-md ">
					{{product|cart_quantity:request.session.cart}} in Cart
				</div>
				<form action="/#{{product.id}}" method="post" class="flex items-center ">
					{% csrf_token %}
					<input hidden type="text" name='product' value='{{product.id}}'>
					<button type="submit" class="bg-gray-700 text-white py-2 px-3 rounded-md hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-700">
						+
					</button>
				</form>
			</div>
	
			{% else %}
			<div class="col-span-12 hover:scale-105">
				<form action="/#{{product.id}}" method="post">
					{% csrf_token %}
					<input hidden type="text" name='product' value='{{product.id}}'>
					<button type="submit" class="bg-gray-700 text-white py-2 px-3 w-full hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-700 rounded-md">
						Add To Cart
					</button>
				</form>
			</div>
			{% endif %}
		</div>
		</div>
	  </div>
	  {% endfor %}
	  <!-- product - end -->


	</div>
  </div>


















  {% endblock %}





		
		
		




		