{% extends 'base.html' %} 
{% block content %}
<div data-popover id="popover-bottom" role="tooltip"
  class="absolute z-20 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800 right-0 rounded-xl">
  <div
    class="relative w-64 border border-gray-600 bg-gray-100 dark:text-gray-400 dark:bg-gray-800 px-4 py-8 sm:px-6 lg:px-8 rounded-xl"
    aria-modal="true" role="dialog" tabindex="-1">
    <div class="mt-4 space-y-6">
      {% if cart_empty %}
      <ul class="space-y-4 text-center">
        <p>Your cart is empty.</p>
        <div class="space-y-4 text-center">
          <a href="/" id="popover-bottom-close"
            class="inline-block text-sm text-gray-500 underline underline-offset-4 transition hover:text-gray-600">Continue
            shopping</a>
        </div>
      </ul>
      {% else %}
      <ul class="space-y-4">
        {% for item in cart_items %}
        <li class="flex items-center gap-4">
          <img src="{{ item.image }}" alt="{{ item.name }}" class="h-16 w-16 rounded object-cover" />
          <div>
            <h3 class="text-sm text-gray-900 dark:text-white">
              {{ item.name }}
            </h3>
            <dl class="mt-0.5 space-y-px text-[15px] text-gray-600 dark:text-gray-300">
              <div>
                <dt class="inline">Price:</dt>
                <dd class="inline">Rs {{ item.price }}</dd>
              </div>
            </dl>
          </div>
        </li>
        {% endfor %}
      </ul>
      <div class="space-y-4 text-center">
        <a href="/cart"
          class="block rounded border border-gray-600 px-5 py-3 text-sm text-gray-600 dark:text-gray-200 transition hover:ring-1 hover:ring-gray-400 font-semibold">View
          my cart ( {{ request.session.cart.keys|length }} )</a><a href="/" id="popover-bottom-close"
          class="inline-block text-sm text-gray-500 dark:text-gray-100 underline underline-offset-4 transition hover:text-gray-600 font-semibold">Continue
          shopping</a>
      </div>
      {% endif %}
    </div>
  </div>
  <div data-popper-arrow class="bg-gray-200 dark:bg-gray-800 border border-gray-600"></div>
</div>

<section class="bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100">
  <div class="container mx-auto px-4 py-16">
    <h1 class="text-4xl pt-10 pl-10 pr-10 dark:text-gray-100 font-bold">
      Privacy Policy
    </h1>
    <div class="p-10">
      <h2 class="text-2xl font-semibold mb-4">1. Introduction</h2>
      <p class="mb-4">
        This Privacy Policy describes how we collect, use, and disclose your
        personal information when you use our website.
      </p>

      <h2 class="text-2xl font-semibold mb-4">2. Information Collection</h2>
      <p class="mb-4">
        We collect personal information such as your name, email address, and
        other relevant data when you register or interact with our website.
      </p>

      <h2 class="text-2xl font-semibold mb-4">3. Information Use</h2>
      <p class="mb-4">
        We use the collected information to provide and improve our services,
        personalize your experience, and communicate with you about updates and
        promotions.
      </p>

      <h2 class="text-2xl font-semibold mb-4">4. Information Sharing</h2>
      <p class="mb-4">
        We do not sell or share your personal information with third parties,
        except when necessary to provide our services or when required by law.
      </p>

      <h2 class="text-2xl font-semibold mb-4">5. Security</h2>
      <p class="mb-4">
        We take appropriate measures to protect your personal information from
        unauthorized access, alteration, disclosure, or destruction.
      </p>

      <h2 class="text-2xl font-semibold mb-4">6. Cookies</h2>
      <p class="mb-4">
        We use cookies to improve your browsing experience and to analyze our
        website traffic. You can manage your cookie preferences in your browser
        settings.
      </p>

      <h2 class="text-2xl font-semibold mb-4">
        7. Changes to This Privacy Policy
      </h2>
      <p class="mb-4">
        We may update this Privacy Policy from time to time. We will notify you
        of any changes by posting the new Privacy Policy on this page.
      </p>

      <h2 class="text-2xl font-semibold mb-4">8. Contact Us</h2>
      <p class="mb-4">
        If you have any questions or concerns about this Privacy Policy, please
        contact us at [email@example.com](mailto:email@example.com).
      </p>
    </div>
  </div>
</section>
{% endblock %}
