{% extends 'base.html' %}
{% load cart %}
{% load custom_filter %}
{% block content %}


<div data-popover id="popover-bottom" role="tooltip"
  class="absolute z-20 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800 right-0 rounded-xl">
  <div
    class="relative w-64 border border-gray-600 bg-gray-100 dark:text-gray-400 dark:bg-gray-800 px-4 py-8 sm:px-6 lg:px-8 rounded-xl"
    aria-modal="true" role="dialog" tabindex="-1">
    <div class="mt-4 space-y-6">
      {% if cart_empty %}
      <ul class="space-y-4 text-center">
        <p>Your cart is empty.</p>
        <div class="space-y-4 text-center">
          <a href="/" id="popover-bottom-close"
            class="inline-block text-sm text-gray-500 underline underline-offset-4 transition hover:text-gray-600">Continue
            shopping</a>
        </div>
      </ul>
      {% else %}
      <ul class="space-y-4">
        {% for item in cart_items %}
        <li class="flex items-center gap-4">
          <img src="{{ item.image }}" alt="{{ item.name }}" class="h-16 w-16 rounded object-cover" />
          <div>
            <h3 class="text-sm text-gray-900 dark:text-white">
              {{ item.name }}
            </h3>
            <dl class="mt-0.5 space-y-px text-[15px] text-gray-600 dark:text-gray-300">
              <div>
                <dt class="inline">Price:</dt>
                <dd class="inline">Rs {{ item.price }}</dd>
              </div>
            </dl>
          </div>
        </li>
        {% endfor %}
      </ul>
      <div class="space-y-4 text-center">
        <a href="/cart"
          class="block rounded border border-gray-600 px-5 py-3 text-sm text-gray-600 dark:text-gray-200 transition hover:ring-1 hover:ring-gray-400 font-semibold">View
          my cart ( {{ request.session.cart.keys|length }} )</a><a href="/" id="popover-bottom-close"
          class="inline-block text-sm text-gray-500 dark:text-gray-100 underline underline-offset-4 transition hover:text-gray-600 font-semibold">Continue
          shopping</a>
      </div>
      {% endif %}
    </div>
  </div>
  <div data-popper-arrow class="bg-gray-200 dark:bg-gray-800 border border-gray-600"></div>
</div>
<div class="dark:bg-gray-900 br-gray-100 text-black dark:text-gray-200">
  <div class="w-full max-w-screen-xl min-h-screen p-10 lg:p-20 mx-auto  relative md:text-left">
    <div class="md:flex items-center -mx-10">
      <div class="w-full md:w-1/2 px-10 mb-10 md:mb-0">
        <div class="relative rounded-md">
          <div
            class="border-4 border-gray-950 dark:border-white absolute -top-3 -bottom-3 -left-3 -right-3   rounded-md">
          </div>
          <img src="{{ product.image.url }}" alt="{{ product.name }}"
            class="w-full relative rounded-md hover:opacity-90 ">
          <span class="absolute right-0 top-0 p-5 uppercase tracking-wider ">
            <a href="#"
              class="inline-block rounded-full bg-gray-200 p-3 text-center text-sm font-semibold text-gray-500 outline-none ring-indigo-300 transition duration-100 hover:bg-gray-300 focus-visible:ring active:text-gray-700 md:text-base">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
              </svg>
            </a>
            </a>
          </span>
        </div>
      </div>
      <div class="w-full md:w-1/2 px-16 ">
        <div class="mb-10">
          <span class="">Category: {{ product.category.name }}</span>
          <h1 class="font-bold uppercase text-2xl mt-2 mb-5">{{ product.name }}</h1>
          <span class="mb-3">Details</span><br>
          <p class="text-sm">{{ product.description }}</p>
        </div>
        <div>
          <div class="flex flex-col md:flex-row items-start md:items-center  gap-4 ">
            <div class="inline-block align-bottom mr-5 space-x-2">
              <span class="text-2xl leading-none align-baseline">₹</span>
              <span class="font-bold text-3xl leading-none align-baseline">{{ product.price }}</span>
            </div>
            <div class="card-footer p-0 grid grid-cols-12  w-2/3 md:w-2/5 text-white ">
              {% if product|is_in_cart:request.session.cart %}
              <div class="col-span-12 flex items-center space-x-2">
                <form action="{{ request.path }}?id={{product.id}}" method="post" class="flex items-center ">
                  {% csrf_token %}
                  <input hidden type="text" name='product' value='{{product.id}}'>
                  <input hidden type="text" name='remove' value='True'>
                  <button type="submit"
                    class="bg-gray-700  py-2 px-5  hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-700 rounded-lg transform transition-all hover:scale-105">
                    -
                  </button>
                </form>
                <div class="flex-1 px-10 flex py-2 justify-center items-center bg-gray-700  rounded-lg">
                  {{product|cart_quantity:request.session.cart}}
                </div>
                <form action="{{ request.path }}?id={{product.id}}" method="post" class="flex items-center ">
                  {% csrf_token %}
                  <input hidden type="text" name='product' value='{{product.id}}'>
                  <button type="submit"
                    class="bg-gray-700 py-2 px-5  hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-700 rounded-lg transform transition-all hover:scale-105">
                    +
                  </button>
                </form>
              </div>

              {% else %}
              <div class="col-span-12 hover:scale-105">
                <form action="{{ request.path }}?id={{product.id}}" method="POST">
                  {% csrf_token %}
                  <input hidden type="text" name='product' value='{{product.id}}'>
                  <button type="submit"
                    class="bg-gray-700  py-2 px-3 w-full hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-700 rounded-md">
                    Add To Cart
                  </button>
                </form>
              </div>
              {% endif %}

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<script>
  var productName = "{{ product.name|escapejs }}";
  document.title = productName;

</script>

{% endblock %}