{% extends 'base.html' %}
{% load cart %}
{% load custom_filter %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h2>{{ product.name }}</h2>
            <h4>Price: ${{ product.price }}</h4>
            <p>Category: {{ product.category.name }}</p>
            <p>{{ product.description }}</p>
            <div class="card-footer p-0 no-gutters">
                {% if product|is_in_cart:request.session.cart %}
                <div class="row no-gutters">
                    <form action="{{ request.path }}?id={{product.id}}" class="col-2 " method="post">
                        {% csrf_token %}
                        <input hidden type="text" name='product' value='{{product.id}}'>
                        <input hidden type="text" name='remove' value='True'>
                        <input type="submit" value=" - " class="btn btn-block btn-success border-right">
                    </form>
                    <div class="text-center col btn btn-success">{{product|cart_quantity:request.session.cart}} in Cart</div>
                    <form action="{{ request.path }}?id={{product.id}}" class="col-2 " method="post">
                        {% csrf_token %}
                        <input hidden type="text" name='product' value='{{product.id}}'>
                        <input type="submit" value=" + " class="btn btn-block btn-success border-left">
                    </form>
                </div>
                {% else %}
                <form action="{{ request.path }}?id={{product.id}}" method="POST" class="btn-block">
                    {% csrf_token %}
                    <input hidden type="text" name='product' value='{{product.id}}'>
                    <input type="submit" class="float-right btn btn-success form-control" value="Add To Cart">
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
