


{% extends 'base.html' %}

{% block content %}

<!-- JavaScript function to check if passwords match -->
<script>
    function checkPasswordMatch() {
        var password = document.getElementById("password");
        var confirmPassword = document.getElementById("repeat_password");

        if (password.value !== confirmPassword.value) {
            confirmPassword.setCustomValidity("Passwords do not match");
        } else {
            confirmPassword.setCustomValidity("");
        }
    }
</script>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <h2>Sign up</h2>
            <form action="/signup" method="POST" onsubmit="checkPasswordMatch()">
                {% csrf_token %}
                <!-- username -->
                <div class="form-group">
                    <label for="">Username</label>
                    <input type="text" name="username" id="username" class="form-control form-control-sm"
                        required>
                </div>

                <!-- email -->
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="email" name="email" id="email" class="form-control form-control-sm"
                        required>
                </div>

                <!-- password -->
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" name="password" id="password" class="form-control form-control-sm"
                        required>
                </div>

                <!-- repeat password -->
                <div class="form-group">
                    <label for="">Repeat Password</label>
                    <input type="password" name="repeat_password" id="repeat_password" class="form-control form-control-sm"
                        oninput="checkPasswordMatch()" required>
                </div>

                <!-- submit button -->
                <input type="submit" value="Sign up" class="btn btn-primary btn-sm">
            </form>
        </div>
    </div>
</div>

{% endblock %}

